.book-card {
  height: 700px;       
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-image {
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 4px;
}